.topbarContainer{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: blue;
}

.topbarleft{
    flex: 2;
    color: white;
}

.topbarCenter{
    flex: 5;
}

.topbarCenter input{
    width: 70%;
    border: none;
    height: 30px;
    border-radius: 30px;
    outline: none;
    padding-left: 25px;
}

.topbarCenter .search{
    position: absolute;
    font-size: 25px;
    top: 13px;
}

.topbarRight .timeline p{
    margin: 20px;
}

.topbarRight .timeline{
display: flex;
color: white;
margin-right: 30px;
}

.topbarRight .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.topbarRight{
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-around;
}

.linksIcon .links{
    display: flex;
    position: relative;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.linksIcon .links span{
    background-color: red;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: -4px;
    right: -6px;
}

.linksIcon{
    display: flex;
}

